<mat-card>
  <mat-card-header>
    <div class="row">
      <h5>from: {{(msg.user) ? msg.user.username : 'anonymous'}}</h5>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12 mainText">
        <p>{{msg.text}}</p>
      </div>

      <div class="col-12">
        <mat-divider></mat-divider>
      </div>
      <div class="col-12 mt-1 categories">
        <p>{{getCategories()}}</p>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col-2 row counter">
        <button mat-button
                [disabled]="!userAllowed()"
                (click)="openComments()">
          <mat-icon aria-hidden="false">chat_bubble</mat-icon>
          <span class="m-1">{{msg.comments.length}}</span>
        </button>
      </div>
      <div class="col-2 row counter">
        <button mat-button
                [disabled]="!upVoteAllowed()"
                (click)="vote('up')">
          <mat-icon aria-hidden="false">thumb_up</mat-icon>
          <span class="m-1">{{getUpVotes()}}</span>
        </button>
      </div>
      <div class="col-2 row counter">
        <button mat-button
                [disabled]="!downVoteAllowed()"
                (click)="vote('down')">
          <mat-icon aria-hidden="false">thumb_down</mat-icon>
          <span class="m-1">{{getDownVotes()}}</span>
        </button>
      </div>
    </div>

  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex justify-content-center">
      <button mat-button [disabled]="!userAllowed()" (click)="openComments()">Write a comment</button>
    </div>
  </mat-card-footer>
</mat-card>
