<div class="dashboard-wrapper">
  <ng-container *ngIf="categories$ | async as categories">
    <app-create-message
      [categories]="categories"
      [currUser]="currUser$ | async"
      (newMessage)="postNewMessage($event)"
    ></app-create-message>
    <ng-container *ngIf="messages$ | async as messages">
      <app-message-feed
        [messages]="messages"
        [currUser]="currUser$ | async"
        [filterForm]="filterForm"
        [categories]="categories"
        (addComment)="dispatchNewComment($event)"
      ></app-message-feed>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="currUser$ | async as user">
    {{user.accessToken}}
  </ng-container>
</div>
