<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>close</mat-icon>
    <span class="nav-caption">Close</span>
  </a>
  <div *ngFor="let route of routes">
    <a mat-list-item [routerLink]="route.path" (click)="onSidenavClose()">
      <span class="nav-caption">{{route.title}}</span>
    </a>
  </div>
  <a mat-list-item (click)="openLogin()">Login</a>
  <a mat-list-item (click)="openSignUp()">SignUp</a>
  <ng-container *ngIf="currUser$ | async as currUser">
    <a mat-list-item (click)="logout(currUser.refreshToken)">Logout</a>
    <a mat-list-item (click)="openAccount()">Account</a>
  </ng-container>
</mat-nav-list>
