<div>
  <p>from: username</p>
  <p>{{msg.content}}</p>
  <div class="row d-flex justify-content-end">
    <div class="col-2 row counter">
      <mat-icon aria-hidden="false">thumb_up</mat-icon>
    </div>
    <div class="col-1">
<!--      <span class="m-1">{{msg.upvotes}}</span>-->
    </div>
    <div class="col-2 row counter">
      <mat-icon aria-hidden="false">thumb_down</mat-icon>
    </div>
    <div class="col-1">
      <!--      <span class="m-1">{{msg.downvotes}}</span>-->
    </div>
  </div>
</div>

<h3>Comments</h3>
<div *ngIf="(msg.comments) && msg.comments.length >= 1; else noComments">
  <div *ngFor="let comment of msg.comments">
    <mat-card class="mt-1">
      <mat-card-header *ngIf="comment.owner">
        <h5>from: {{comment.owner.username}}</h5>
      </mat-card-header>
      <mat-card-content>
        <p>{{comment.content}}</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
<ng-template #noComments>
  <div>
    <p>It seems there are no comments to that post yet</p>
  </div>
</ng-template>

<div class="row">
  <form [formGroup]="commentaryForm">
    <mat-form-field class="full-width col-12" appearance="fill">
      <mat-label>Write your comment</mat-label>
      <textarea formControlName="text" matInput placeholder=""></textarea>
    </mat-form-field>
    <div class="col-4 mt-2">
      <button class="full-width" [disabled]="!commentaryForm.valid" (click)="submitNewComment()" mat-raised-button
              color="primary">Comment
      </button>
    </div>
  </form>
</div>
