<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list [routes]="routes" (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-app-bar (sidenavToggle)="sidenav.toggle()"></app-app-bar>
    <main>
      <div class="row main-card d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10 col-m-8 col-lg-7 col-xl-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
